/* Estilo general */
* {
    background: #c3e9e7;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo {
    padding-top: 10px;
    margin-left: 10px;
    width: 10%;
}

/* Contenedor principal */
main {
    display: flex;
    flex-direction: row; /* Asegura que los elementos se alineen en fila */
    justify-content: space-around; /* Distribuye el espacio alrededor de las secciones */
    margin-bottom: 50px;
    margin-left: 80px;
}

main > section {
    flex: 1; /* Permite que las secciones ocupen el mismo ancho */
   /* margin: 0 10px;  Añade un pequeño margen horizontal entre secciones */
}

/* Estilo del área de texto */
.area_texto {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 1em;
    border: none;
    color: #0a3871;
    margin-top: 80px;
    background: #ffffff;
    text-transform: lowercase;
    resize: none;
}

::placeholder {
    color: #0a3871;
}

.area_texto:focus {
    outline: none;
}

/* Estilo para el área de texto encriptado */
.area_encriptado {
    width: 60%;
    height: 300px;
    padding: 10px;
    font-size: 1em;
    border: none;
    color: #0a3871;
    margin-top: 80px;
    text-transform: lowercase;
    resize: none;
    background-color: #ffffff;
    background-image: url('/imagenes/Muñeco.png');
    background-repeat: no-repeat;
    background-size: 150px; /* Ajusta el tamaño de la imagen a 50px por defecto, puedes cambiarlo según sea necesario */
    background-position: bottom right; /* Posiciona la imagen en la esquina inferior derecha */
    border-radius: 5px;
    padding-bottom: 70px; /* Añade espacio inferior para que el texto no se sobreponga con la imagen */
    padding-right: 70px; /* Añade espacio derecho para evitar el texto sobre la imagen */
}

/* Estilo para la información */
.informacion {
    font-size: 0.8em;
    color: #0a3871;
    margin-top: 10px;
}

/* Estilos para los botones */
.boton_encriptar,
.boton_desencriptar,
.boton_copiar {
    padding: 10px 20px;
    font-size: 1em;
    margin: 5px;
    cursor: pointer;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Estilos hover y active para botones */
.boton_encriptar:hover,
.boton_desencriptar:hover,
.boton_copiar:hover {
    background-color: #005bb5;
}

.boton_encriptar:active,
.boton_desencriptar:active,
.boton_copiar:active {
    background-color: #004d99;
}

/* Estilo para la alerta */
.alerta {
    color: red;
    font-size: 0.8em;
    display: none;
}

/* Estilo del pie de página */
footer {
    margin-top: 20px;
    font-size: 0.8em;
    color: #666;
}
